<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>用户中心-KuangStudy</title>
    <link href="bootstrap.css" rel="stylesheet" />
    <link rel="import" href="header.html" />
<!--    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">-->
    <style>
        #table-title tr th{
            border: none;
        }
    </style>
</head>
<body style="background: #f2f2f2;">


<div class="top">top</div>
<script src="../js/http_apps.bdimg.com_libs_jquery_2.1.4_jquery.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/common.js"></script>
<script type="text/javascript">
    //在js中引入
    $(document).ready(function () {
        $('.top').load('header.html');

    });
</script>
<main role="main" class="container">
    <div class="row">

        <aside class="col-md-3 blog-sidebar">

            <div class="p-4 my-3 bg-white rounded">
                <div class="mb-0">
                    <p class="text-center">
                        <img id="user-avatar" alt="avatar" src="../img/IMG666.JPG" style="border-radius: 50%" width="128" height="128">
                    </p>
                    <div class="text-center">
                        <span id="name">name</span>
                        <br>

                        <p class="text-center">
                            <small id="info">info</small><br>
                            <button id="black-list">拉黑</button>
                        </p>
                        <p>
                            fans<span id="fans" class="badge badge-light mr-1">fans</span>
                            follower<span id="follower" class="badge badge-light mr-1">follower</span>
                        </p>
                        <p>
                            <button id="follow" type="button" onclick="follow()" class="btn btn-outline-primary btn-sm btn-block">关注</button>
                        </p>
                        <p>
                        <table class="table">
                            <thead id="table-title">
                                <tr>
                                    <th scope="col">博客</th>
                                    <th scope="col">问题</th>
                                    <th scope="col">回复</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="answerCount">answerCount</td>
                                    <td id="questionCount">questionCount</td>
                                    <td id="commentCount">commentCount</td>
                                </tr>
                            </tbody>
                        </table>
                        </p>
                    </div>
                </div>
            </div>

        </aside>

        <div class="col-md-9 blog-main">

            <div class="my-3 p-3 bg-white rounded shadow-sm">

                <h6 class="border-bottom border-gray pb-2 mb-0">
                    <nav class="nav nav-pills">
                        <div class="nav-link active" onclick="getAnswer()">
                            <svg class="bi bi-receipt-cutoff" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v13h-1V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51L2 2.118V15H1V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zM0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                                <path fill-rule="evenodd" d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-8a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            回答
                        </div>
                        <div class="nav-link" onclick="Paging()">
                            <svg class="bi bi-question-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                            </svg>
                            问题
                        </div>
                        <div class="nav-link" onclick="sameFollow()">
                            <svg class="bi bi-chat-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                            共同关注
                        </div>
                    </nav>
                </h6>

                <div id="table" >
<!--                    &lt;!&ndash; 头像 &ndash;&gt;-->
<!--                    <img th:src="${blog.getAuthorAvatar()}" style="border-radius: 5px " width="32" height="32">-->
<!--                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" style="margin-left: 5px">-->
<!--                        &lt;!&ndash; 标题 &ndash;&gt;-->
<!--                        <a th:text="${blog.getTitle()}"-->
<!--                           th:href="@{'/blog/read/'+${blog.getBid()}}"-->
<!--                           class="text-dark font-weight-bold text-decoration-none d-block">-->
<!--                        </a>-->
<!--                        &lt;!&ndash; 浏览量 &ndash;&gt;-->
<!--                        <span>-->
<!--                            <svg class="bi bi-eye-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--                              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>-->
<!--                              <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>-->
<!--                            </svg>-->
<!--                            浏览量-->
<!--                        </span>-->
<!--                        &lt;!&ndash; 时间 &ndash;&gt;-->
<!--                        <span th:text="${#dates.format(blog.getGmtUpdate(),'yyyy-MM-dd')}"-->
<!--                              class="badge badge-light float-right">时间-->
<!--                        </span>-->
<!--                    </p>-->
                </div>

                <!--分页-->
                <nav aria-label="Page navigation example" class="mt-4">
                    <ul class="pagination justify-content-center pagination-sm">
                        <li th:class="${pageParam.hasPrevious()==true?'page-item':'page-item disabled'}">
                            <a class="page-link" th:href="@{'/user/blog/'+${session.loginUser.getUid()}+'/'+${pageParam.getCurrent()-1}+'/10'}" tabindex="">Previous</a>
                        </li>
                        <li class="page-item" th:if="${pageParam.hasPrevious()}">
                            <a class="page-link" th:href="@{'/chatRoomUserEntity/blog/'+${session.loginUser.getUid()}+'/'+${pageParam.getCurrent()-1}+'/10'}" th:text="${pageParam.getCurrent()-1}"></a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" th:href="@{'/chatRoomUserEntity/blog/'+${session.loginUser.getUid()}+'/'+${pageParam.getCurrent()}+'/10'}" th:text="${pageParam.getCurrent()}"></a>
                        </li>
                        <li class="page-item" th:if="${pageParam.hasNext()}">
                            <a class="page-link" th:href="@{'/chatRoomUserEntity/blog/'+${session.loginUser.getUid()}+'/'+${pageParam.getCurrent()+1}+'/10'}" th:text="${pageParam.getCurrent()+1}"></a>
                        </li>
                        <li th:class="${pageParam.hasNext()==true?'page-item':'page-item disabled'}">
                            <a class="page-link"  th:href="@{'/chatRoomUserEntity/blog/'+${session.loginUser.getUid()}+'/'+${pageParam.getCurrent()+1}+'/10'}" >Next</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

</main>


<script>
    const userId = window.location.hash.substring(1);
    let questions;
    let current=1;
    let pageSize=5;
    function sameFollow() {
        let a=sessionStorage.getItem(`token`);
        if(a==null){
            alert('请登录');
            return;
        }
        axios({
            method:'get',
            url:'/project_war_exploded/api/follow/getSameFollow?id='+userId
        }).then(function (resp){
            let html="";
            if(resp.data==null){
                html="没有共同关注"
            }else{
                let users = resp.data;
                for (let i = 0; i < users.length; i++){
                    let user=users[i];
                    html+="<a href="+ 'index.html#'+user.id+"><img src="+user.avatar+" alt=\"avatar\" style=\"border-radius: 5px \" width=\"32\" height=\"32\">\n" +
                        user.username+"  "+ user.introduce+" 粉丝数："+ user.fans+"</a><br>"
                }
            }
            document.getElementById("table").innerHTML=html;
        })
    }
    function getAnswer() {
        axios({
            method:'get',
            url:'/project_war_exploded/api/answer/getUserAnswer?id='+userId
        }).then(function (resp){
            let answers = resp.data;
            let html="";
            if(answers==null){
                html="无回答"
            } else {
                for (let i = 0; i < answers.length; i++){
                    let answer=answers[i];
                    html+="<a href="+"readQuestion.html#"+answer.questionId+"><b>"+answer.questionTitle+"</b></a><br>" +
                        "<a href="+'readAnswer.html#'+answer.id+">"+answer.content+ "  点赞数："+answer.likes+"</a>";
                }
            }
            document.getElementById("table").innerHTML=html;
        })
    }
    function isFollow(){
        axios({
            method:'get',
            url:'/project_war_exploded/api/follow/isFollowed?id='+userId
        }).then(function (resp){
            let data = resp.data;
            console.log(data)
            if(data.isSuccess=="true"){
                document.getElementById("follow").innerHTML="已关注";
            }
        })
    }
    function follow() {
        axios({
            method:'get',
            url:'/project_war_exploded/api/follow/follow?id='+userId
        }).then(function (resp){
            let data = resp.data;
            if(data.isSuccess=="true"){
                document.getElementById("follow").innerHTML=data.message;
            }else{
                alert(data.message)
            }
        })
    }
    function getUser(){
        axios({
            method: 'get',
            url:'/project_war_exploded/api/home/getUserById?userId='+userId
        }).then(function (resp){
            let user=resp.data;
            document.getElementById("fans").innerHTML=user.fans;
            document.getElementById("user-avatar").src=user.avatar;
            document.getElementById("follower").innerHTML=user.followee;
            document.getElementById("info").innerHTML=user.introduce;
            document.getElementById("name").innerHTML=user.username;
            document.getElementById("answerCount").innerHTML=user.answerCount;
            document.getElementById("questionCount").innerHTML=user.questionCount;
            document.getElementById("commentCount").innerHTML=user.commentCount;
        })
    }
    function getCount() {
        axios({
            method:'get',
            url:'/project_war_exploded/api/home/getUserCount?userId='+userId
        }).then(function (resp){
            let count=resp.data;

        })
    }
    function Paging(){
        axios({
            method:'get',
            url:'/project_war_exploded/api/question/getQuestionByUser?page='+current+'&size='+pageSize+'&userId='+userId
        }).then(function(response) {
            questions = response.data;
            console.log(questions)
            let tableData="";
            for (let i = 0; i < questions.length; i++) {
                let question = questions[i];
                tableData += "<a href="+ 'index.html#'+question.userId+"><img src="+question.avatar+" alt=\"avatar\" style=\"border-radius: 5px \" width=\"32\" height=\"32\">\n" +
                    question.username+"</a>"+
                    "                        <p class=\"media-body pb-3 mb-0 small lh-125 border-bottom border-gray\" style=\"margin-left: 5px\">\n" +
                    "                            <a href="+ 'readQuestion.html#'+question.id+"\n"+
                    "                               class=\"text-dark font-weight-bold text-decoration-none d-block\">"+ question.title +"\n" +
                    "                            </a>\n" +
                    "                            <span :class="+(question.answerCount == 0 ? 'badge badge-warning' : 'badge badge-info')+">\n" +
                    (question.answerCount == 0 ? '暂时还没有人回答' : '已有'+question.answerCount+'人回答此问题')+"\n" +
                    "      </span>\n" +
                    "                            <span>\n" +
                    "        <svg class=\"bi bi-eye-fill\" width=\"1em\" height=\"1em\" viewBox=\"0 0 16 16\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
                    "          <path d=\"M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z\"/>\n" +
                    "          <path fill-rule=\"evenodd\" d=\"M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z\"/>\n" +
                    "        </svg>\n" +
                    "        类型:\n" +
                    "        <span>"+ question.categoryName +"</span>\n" +
                    "      </span>\n" +
                    "                            <span class=\"badge badge-light float-right\">"+ formatDate(question.updateTime) +"</span>\n" +
                    "                        </p>"+"<br>";
            }
            document.getElementById("table").innerHTML=tableData;
        }).catch(function(error) {
            console.log(error);
        });
    }
    window.onload=function () {
        Paging();
        getUser();
        isFollow();
    }
</script>

</body>
</html>