<!doctype html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>问答</title>
    <link rel="stylesheet" href="bootstrap.css">
    <style>
        #search-box {
            width: 400px;
            height: 40px;
            padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            outline: none;
            display: inline-block; /* 设置为行内元素，方便放置按钮 */
        }

        #search-btn {
            width: 80px;
            height: 40px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 20px;
            font-size: 16px;
            cursor: pointer;
        }

        #search-btn:hover {
            background-color: #0062cc;
        }

        m {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        form {
            display: flex;
        }

        form #search-box {
            margin-right: 10px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body style="background: #f2f2f2;">


<div class="top">top</div>
<script src="../js/http_apps.bdimg.com_libs_jquery_2.1.4_jquery.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/common.js"></script>
<script type="text/javascript">
    //在js中引入
    $(document).ready(function () {
        $('.top').load('header.html');
    });
</script>
<div id="app" >
<m>
        <label for="search-box"></label><input type="text" id="search-box" placeholder="Search...">
        <button id="search-btn" @click="searchByTitle">搜索</button>
</m>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-9 blog-main">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div id="a" @load="Paging" >
                    <h6 class="border-bottom border-gray pb-2 mb-0">
                        Q&A 此页累计：
                        <span >{{questions.length}}</span>
                    </h6>

                    <div v-for="question in questions" :key="question.id" class="media text-muted pt-3">
                        <!-- 头像 -->
                        <img :src="question.avatar" alt="avatar" style="border-radius: 5px " width="32" height="32">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" style="margin-left: 5px">
                            <!-- 标题 -->
                            <a :href="'/question/read/' + question.id"
                               class="text-dark font-weight-bold text-decoration-none d-block">{{ question.title }}
                            </a>
                            <!-- 状态 -->
                            <span :class="question.answerCount == 0 ? 'badge badge-warning' : 'badge badge-info'">
        {{ question.answerCount == 0 ? '暂时还没有人回答' : '已有'+question.answerCount+'人回答此问题' }}
      </span>
                            <!-- 浏览量 -->
                            <span>
        <svg class="bi bi-eye-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
          <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
        </svg>
        类型id
        <span>{{ question.categoryId }}</span>
      </span>
                            <!-- 时间 -->
                            <span class="badge badge-light float-right">{{ question.updateTime }}</span>
                        </p>
                    </div>
                    <nav aria-label="Page navigation example" class="mt-4">
                        <ul class="pagination justify-content-center pagination-sm">
                            <li :class="{ 'page-item': true, 'disabled': pageParam.current!==1 }">
                                <a class="page-link" @click.prevent="previousPage" disabled="pageParam.current!==1">Previous</a>
                            </li>
                            <li v-if="pageParam.current!==1" class="page-item">
                                <a class="page-link" @click.prevent="changePage(pageParam.current - 1)">{{ pageParam.current - 1 }}</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link">{{ pageParam.current }}</a>
                            </li>
                            <li v-if="pageParam.current!==pageParam.total/pageParam.pageSize+pageParam.total%pageParam.pageSize" class="page-item">
                                <a class="page-link" @click.prevent="changePage(pageParam.current + 1)">{{ pageParam.current + 1 }}</a>
                            </li>
                            <li :class="{ 'page-item': true, 'disabled': pageParam.current!==pageParam.total/pageParam.pageSize+pageParam.total%pageParam.pageSize }">
                                <a class="page-link" @click.prevent="nextPage" disabled="pageParam.current!==pageParam.total/pageParam.pageSize+pageParam.total%pageParam.pageSize">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>

        </div>

        <aside class="col-md-3 blog-sidebar">

            <div class="my-3 rounded">
                <p class="mb-0">
                    <a href="write.html" class="btn btn-primary btn-sm btn-block" style="color: white">发布问题</a>
                </p>
            </div>

            <div class="p-4 my-3 bg-white rounded">
                <p class="mb-0"> 社区公约: <br> 提问内容描述一定要清楚，回答尽量靠近主题，禁止瞎水社区，违者暂停账号使用! </p>
            </div>

            <div class="p-4 my-3 bg-white rounded">
<!--                种类查询-->
                <a v-for="category in categories"
                   @click="searchByCategoryId(category.categoryId)"
                   class="badge badge-pill badge-primary mr-1">
                    {{category.name}}
                </a>
            </div>

            <div class="p-4 my-3 bg-white rounded">
                <h4 class="font-italic">友情链接</h4>
                <ol class="list-unstyled">
                    <li><a href="https://www.bilibili.com">Bilibili</a></li>
                </ol>
            </div>
        </aside>
    </div>


</main>
</div>

</body>
</html>
<script>
    function getTotal (condition){
        axios({
            method: 'get',
            url:'url/getQuestionCount?'+condition
        }).then(function (resp) {
            return resp.data;
        })
        return 0;
    }
   new Vue({
        el: '#app',
        data: {
            pageParam: {
                current: 1,
                pageSize: 5,
                total:0
            },
            questions: [],
            categories:[]
        },
        methods: {
            Paging: function() {
                axios({
                    method:'get',
                    url:'/api/articles?page='+this.pageParam.current+'&size='+this.pageParam.pageSize
                }).then(function(response) {
                    this.questions = response.data;
                    this.pageParam.total=getTotal("");
                }).catch(function(error) {
                    console.log(error);
                });
            },
            changePage: function(page) {
                this.pageParam.current = page;
                this.Paging();
            },
            previousPage: function() {
                if (this.pageParam.current>1) {
                    this.pageParam.current--;
                    this.Paging();
                }
            },
            nextPage: function() {
                if (this.pageParam.current<this.pageParam.total) {
                    this.pageParam.current++;
                    this.Paging();
                }
            },
            searchByTitle:function () {
                let title = document.getElementById("search-box").value;
                title='&title='+title;
                axios({
                    method:'get',
                    url:'url?page='+this.pageParam.current+'&size='+this.pageParam.pageSize+title
                }).then(function (resp) {
                    this.questions=resp.data;
                    this.current=1;
                    this.pageParam.total=getTotal(title);
                })
            },
            searchByCategoryId:function (categoryId) {
                categoryId='&categoryId='+categoryId;
                axios({
                    method:'get',
                    url:'url?page='+this.pageParam.current+'&size='+this.pageParam.pageSize+categoryId
                }).then(function (resp) {
                    this.questions=resp.data;
                    this.current=1;
                    this.pageParam.total=getTotal(categoryId);
                })
            }
        }
    });
</script>