<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>问答-KuangStudy</title>
    <link rel="stylesheet" href="bootstrap.css"/>
    <link rel="stylesheet" href="editormd.css"/>
    <style>
        .nav-underline .nav-link {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: .875rem;
            color: #6c757d;
        }
    </style>
</head>
<body style="background: #f2f2f2;">

<div class="top">top</div>
<script src="../js/axios.js"></script>
<script src="../js/http_apps.bdimg.com_libs_jquery_2.1.4_jquery.js"></script>
<script src="../js/common.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    //在js中引入
    $(document).ready(function () {
        $('.top').load('header.html');

    });
</script>

<main role="main" class="container mt-3 p-3 bg-white rounded">
    <div class="row">
        <div class="col-md-12 blog-main">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">发布问题</h4>

                <div class="needs-validation">
                    <div class="row">
                        <div class="col-md-10 mb-3">
                            <label for="title">问题标题</label>
                            <input type="text" name="title" class="form-control" id="title" value="" required autocomplete="off">
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="country">标签</label>
                            <select name="categoryId" class="custom-select d-block w-100" id="country">
                                <option th:each="category:${categoryList}"
                                        th:value="${category.getId()}" th:text="${category.getCategory()}">
                                </option>
                            </select>
                        </div>

                        <div class="col-md-12 mb-3">
                            <p>问题详情</p>
                            <div id="blog-content">
                                <textarea required name="content" id="content"  rows="3" class="form-control"> </textarea>
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-primary btn-lg btn-block" id="submit">发布问题</button>
                </div>
            </div>
        </div>
    </div>
</main>



<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd("blog-content", {
            width : "100%",
            height : 500,
            syncScrolling : "single",
            path : "/editormd/lib/",
            saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
            // [TOCM]  [TOC] 自动生成目录
            tocm : true,
            tocContainer : "",
            tocDropdown   : false,
            tocStartLevel : 1,     // Parse beginning of H2, Default value 1
            emoji: true,
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
            //图片上传
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/question/write/file/upload",
            onload : function() {
                console.log('onload', this);
            },
            /*指定需要显示的功能按钮*/
            toolbarIcons : function() {
                return ["undo","redo","|",
                    "bold","del","italic","quote","ucwords","uppercase","lowercase","|",
                    "list-ul","list-ol","hr","|",
                    "link","reference-link","image",
                    "code-block","table","datetime","emoji","html-entities","|",
                    "search","watch","preview","fullscreen"]
            },
            onfullscreen : function() {
                console.log("onfullscreen");
                document.getElementsByClassName("navbar")[0].style.display="none";
            },
            onfullscreenExit : function() {
                console.log("onfullscreenExit");
                document.getElementsByClassName("navbar")[0].style.display="";
            }
        });
    });
    function me() {
        axios({
            method: 'get',
            url: '/project_war_exploded/api/home/me',
            async:false
        }).then(function(resp) {
            if (resp.data==null) {
                alert("请登录")
                location.href="login.html"
            }
        })
    }
    function getQuestionType() {
        axios({
            method:'get',
            url:'/project_war_exploded/api/question/getCategory'
        }).then(function (resp){
            categories=resp.data;
            let table="";
            for (let i = 0; i < categories.length; i++) {
                let category= categories[i];
                table+=
                    `<option id="category-${category.id}" value=${category.id} >${category.name}</option>`
            }
            document.getElementById("country").innerHTML=table;
        })
    }
    document.getElementById("submit").onclick=function sendQuestion() {
        let title = document.getElementById("title").value;
        let categoryId = document.getElementById("country").value;
        let categoryName = document.getElementById("category-"+categoryId).innerHTML;
        let content = document.getElementById("content").value;
        axios({
            method:'post',
            url:'/project_war_exploded/api/question/sendQuestion',
            data:{
                title:title,
                categoryId:categoryId,
                categoryName:categoryName,
                content:content
            }
        }).then(function (resp){
            alert(resp.data.message)
        })
    }
    window.onload=function (){
        getQuestionType();
        me();
    }
</script>

</body>
</html>